<template>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <!-- <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                        <div class="btn-wrapper text-center">
                            <a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="img/icons/common/github.svg"></span>
                                <span class="btn-inner--text">Github</span>
                            </a>
                            <a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="img/icons/common/google.svg"></span>
                                <span class="btn-inner--text">Google</span>
                            </a>
                        </div> 
                    </div> -->
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <img src="img/brand/bimslogo.png" style="width:50%;">
                            <h3>BIMS Boda Boda Registration</h3>
                        </div>
                        <p id="success_text" style="display:none;"> Thank you for registering on our platform</p>
                        <ValidationObserver v-slot="{ handleSubmit }">
                        <form id="registration_form" role="form" method="POST" @submit.prevent="handleSubmit(addMember)">
                            <ValidationProvider v-slot='{errors}' rules="required" >
                            <base-input required class="input-group-alternative mb-3"
                                        placeholder="First Name"
                                        name="first_name"
                                        addon-left-icon="ni ni-single-02"
                                        v-model="model.first_name">
                            </base-input>
                            <span class="text-danger">{{ errors[0] }}</span>
                            </ValidationProvider>
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Other Name"
                                        name="middle_name"
                                        addon-left-icon="ni ni-single-02"
                                        v-model="model.middle_name">
                            </base-input>
                            <ValidationProvider v-slot='{errors}' rules="required" >
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="surname"
                                        name="last_name"
                                        addon-left-icon="ni ni-single-02"
                                        v-model="model.last_name">
                            </base-input>
                            <span class="text-danger">{{ errors[0] }}</span>
                           </ValidationProvider>
                             <ValidationProvider v-slot='{errors}' rules="required|email" >
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        name="email"
                                        addon-left-icon="ni ni-email-83"
                                        v-model="model.email">
                            </base-input>
                            <span class="text-danger">{{ errors[0] }}</span>
                           </ValidationProvider>
                            <base-input class="input-group-alternative"
                                        placeholder="ID Number"
                                        type="text"
                                        name="id_number"
                                        addon-left-icon="ni ni-circle-08"
                                        v-model="model.id_number">
                            </base-input>
                             <ValidationProvider v-slot='{errors}' rules="required" >
                            <base-input class="input-group-alternative"
                                        placeholder="Phone Number"
                                        type="text"
                                        name="phone_number"
                                        addon-left-icon="ni ni-mobile-button"
                                        v-model="model.phone_number">
                            </base-input>
                            <span class="text-danger">{{ errors[0] }}</span>
                           </ValidationProvider>
                            <base-input class="input-group-alternative"
                                        placeholder="KRA PIN"
                                        type="text"
                                        name="kra_pin"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="model.kra_pin">
                            </base-input>
                            <div class="text-center">
                                <button type="submit" class="my-4" >Register</button>
                            </div>
                        </form>
                         </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
import gql from 'graphql-tag';
import axios from 'axios';
import { print } from 'graphql';
import { ValidationProvider } from 'vee-validate';
import { ValidationObserver } from 'vee-validate';
import { extend } from 'vee-validate';
import { required,numeric,max,min,email} from 'vee-validate/dist/rules';
                extend('email', {
                                ...email,
                                message: 'Please enter a valid email address'
                        });
                extend('max', {
                     ...max,
                      message: 'Please enter a valid ID Number'
                    });
                extend('min', {
                  ...min,
                      message: 'Please enter a valid ID Number'
                    });
                extend('numeric', {
                 ...numeric,
                   message: 'Please enter a valid ID Number'
                 });
             extend('required', {
            ...required,
                message: 'This field is required'
              });

  export default {
      components: {
      ValidationProvider,
      ValidationObserver
     },
    name: 'login',
    data() {
      return {
        model: {
          first_name:this.$route.params.firstName,
          middle_name: this.$route.params.secondName,
          last_name:this.$route.params.surname,
          id_number:this.$route.params.idNumber
        }
      }
    },
    methods:{
        addMember() {
            const ADD_SKILL = gql`
                mutation updateOrCreateMember($id_number:String!, $middle_name:String, $first_name:String!, $last_name:String!,$phone_number:String!,$email:String!,$kra_pin:String) {
                updateOrCreateMember(id_number:$id_number, middle_name:$middle_name first_name:$first_name, last_name:$last_name,phone_number:$phone_number,email:$email,kra_pin:$kra_pin) { 
                    message
                }
              }
              `
          axios.post('https://bak.ajira.services/graphql?client=5fbe8e945d3f6', {
                query: print(ADD_SKILL),
                variables: {
                    id_number: this.model.id_number,
                    first_name: this.model.first_name,
                    last_name:this.model.last_name,
                    phone_number:this.model.phone_number,
                    email:this.model.email,
                    middle_name:this.model.middle_name,
                    kra_pin:this.model.kra_pin
                },
                })
                 .then(res => {
                     if(res.status == 200){
                    // Make a success toastr
                    this.$toastr('success', 'Success! Thank you for registering on our platform')
                    document.getElementById('registration_form').style.display = "none";
                    document.getElementById('success_text').style.display = "";

                     }
                 })
                 .catch(err => {
                     // Make a error toastr
                   this.$toastr('error', 'Failed! An error has occured please try again')
                 })
        //   this.$apollo.mutate({
        //     mutation: gql`mutation($data: LoginInput) {
        //     updateOrCreateMember(data: $data){
        //        message
        //     }
        //     }`,
        //     variables: {
        //         data:{
        //          first_name:this.model.first_name,
        //          middle_name:this.model.middle_name,
        //          last_name:this.model.last_name,
        //          id_number:this.model.id_number,
        //          phone_number:this.model.phone_number,
        //          email:this.model.email,
        //         }
                
        //     }
        //   })
         }
       },
    }
</script>
<style>
</style>
