<template>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                            <img src="img/brand/bimslogo.png" style="width:50%;">
                            <h1>BIMS BodaBoda Registration</h1>
                        </div>
                    <ValidationObserver v-slot="{ handleSubmit }">
                    <form role="form" @submit.prevent="handleSubmit(verifyID)">
                      <ValidationProvider v-slot='{errors}' rules="required|numeric|min:5|max:8" >
                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Enter ID Number"
                                    name="id"
                                    addon-left-icon="ni ni-single-02"
                                    v-model="model.id"> 
                        </base-input>
                        <span class="text-danger" id="error_message">{{ errors[0] }}</span>
                        </ValidationProvider>
                        <div class="text-center">
                          <button type="submit" class="my-4" >Next</button>
                            <!-- <base-button type="submit" class="my-4">Next</base-button> -->
                        </div>
                    </form>
                     </ValidationObserver>
                </div>
            </div>
        </div>  
    </div>
</template>
<script>
import axios from 'axios';
import { ValidationProvider } from 'vee-validate';
import { ValidationObserver } from 'vee-validate';
import { extend } from 'vee-validate';
import { required, numeric,max,min} from 'vee-validate/dist/rules';
            extend('max', {
                     ...max,
                      message: 'Please enter a valid ID Number'
                    });
            extend('min', {
                  ...min,
                      message: 'Please enter a valid ID Number'
                    });
          extend('numeric', {
            ...numeric,
                message: 'Please enter a valid ID Number'
              });
         extend('required', {
            ...required,
                message: 'ID Number is required'
              });
  export default {
    components: {
      ValidationProvider,
      ValidationObserver
     },
    name: 'register',
    data() {
      return {
        model: {
          id: ''
        }
      }
    },
    methods:{
        verifyID(){
           const qs = require('querystring');
            
            axios({
                method: 'post',
                  url: 'https://amrefapp.sand-box.online/api/getuserbyid',
                  data: qs.stringify({
                    userid: this.model.id
                  }),
                  headers: {
                    'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                  }
             }).then(res =>{
               if(res.data.code == 0){
                 this.$router.push({name: 'login', params: {firstName: res.data.body.firstName,secondName: res.data.body.otherName,surname:res.data.body.surname,idNumber:res.data.body.idNumber}})
                 //console.log(res.data.code);
                 //console.log(res.data.body);
               } else{
                   document.getElementById('error_message').textContent="The ID number provided does not exist";
                }
             });
        }
    },
      
  }
</script>
<style>
</style>
